.not-desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (max-width: 70rem) {
        height: 100vh;
        background-color: rgb(198, 246, 213)
    }

    @media screen and (min-width: 70rem) {
        display: none;
    }

    img.not-desktop__logo {
        width: 40%;
        margin-top: 60px;
    }
}

#app {
    @media screen and (max-width: 70rem) {
        display: none;
    }
}
