//Colors
$lightGreen: #C6F6D5;
$green: #68D391;
$darkGreen: #48BB78;
$purple: #6562E1;
$bgMain: #f7fafc;
$heading: #2b2c34;
$paragraph: #252730;
$line: #eee;
$input: #d1d1e9;


$white: #fff;
$black: #000;